tasks:[
    {
      name:"CallingInStatistic"
      description:"呼入电话统计"
      sourceCollection:"Customer_Record"
      targetCollection:"StatisticCallingIn"
      defaultQuery:
        DelStatus:0#未删除
        RecordType_ID:1#业务类型
        AddType:1#400客服电话
    }
    {
      name:"OrderSimpleStatistic"
      description:"订单简单统计"
      sourceCollection:"Orders"
      targetCollection:"StatisticOrder_simple"
    }
    {
      name:"CustomerStatistic"
      description:"客户统计"
      sourceCollection:"Orders"
      targetCollection:"StatisticCustomer"
    }
    {
      name:"ProductStatistic"
      description:"产品统计"
      sourceCollection:"ProductList"
      targetCollection:"StatisticProduct"
    }
]
