wordTimeSpan:
  '秒': 1
  '五秒': 5
  '十秒': 10
  '三十秒': 30
  '分': 60
  '五分': 300
  '十分': 600
  '刻': 900
  '时': 3600
  '时辰': 7200
  '日': 86400
  '阴历日': 86400
  '月': - 1
  '阴历月': - 1
  '年': - 1
  '阴历年': - 1

timeStructure:
  Basic: ['年','月','日','时',['刻','十分','五分','分'],['三十秒','十秒','五秒','秒']]
  Lunar: ['阴历年','阴历月','阴历日','时辰',['刻','十分','五分','分'],['三十秒','十秒','五秒','秒']]
  Vocation: ['年','法定节假日','日','时',['刻','十分','五分','分'],['三十秒','十秒','五秒','秒']]
  Activity:['年','活动','日','时',['刻','十分','五分','分'],['三十秒','十秒','五秒','秒']]
