statistics:[
    {
      name:"CallingInStatisticByProductTypeOfNingBo"
      description:"呼入电话统计"
      sourceCollection:"Customer_Record"
      targetCollection:"Statistic_CallingInByProduct_NingBo"
      aggregateOutCollection:"Aggregate_Statistic_CallingInByProduct_NingBo"
      groupSum:1
      defaultQuery:
        DelStatus:0#未删除
        RecordType_ID:1#业务类型
        AddType:1#400客服电话
      objectIDParameters:["SDID",'DestinationInfo.MainID']
      timeParameter:
        createTime:'Record_Time'
        updateTime:'UpdateTime'
        format:'Date'
      parameters:{
        "SDID":1,
        'Record_Type':1
        'ProductAreaType_ID':1,
        'LineType_ID':1,
        'destiniation':"$DestinationInfo.MainID"
      }


      tasks:[
        {
          name:'InitializationTask'
          description:"初始化原始数据的统计"
          parameters:
            timespan:600
          steps:[
            {
              name:"GetCreatedDataOfTimespan"
              description:"获取时间间隔的新增数据"
            }
            {
              name:"UpdateStatisticDataByDatetime"
              description:"更新当前时间段的统计数据，并逐步向上更新到年的统计"
            }
          ]
        }
        {
          name:'AutoTaskWithTimeSpan'
          description:"定时轮询新数据，更新新增数据的统计"
          parameters:
            timespan:600
          steps:[
            {
              name:"GetCreatedDataOfTimespan"
              description:"获取时间间隔的新增数据"
            }
            {
              name:"GetStatisticDataOfTimeSpan"
              description:'获取这段时间的统计数据'
            }
            {
              name:"UpdateStatisticDataByDatetime"
              description:'更新当前时间段的统计数据，并逐步向上更新到年的统计'
            }
          ]
        }
      ]
    }
    {
      name:"OrderSimpleStatistic"
      description:"订单简单统计"
      sourceCollection:"Orders"
      targetCollection:"StatisticOrder_simple"
    }
    {
      name:"CustomerStatistic"
      description:"客户统计"
      sourceCollection:"Orders"
      targetCollection:"StatisticCustomer"
    }
    {
      name:"ProductStatistic"
      description:"产品统计"
      sourceCollection:"ProductList"
      targetCollection:"StatisticProduct"
    }
]
